<div class="container">
  <div class="row">
    <div class="six columns main">
<p id="notice"><%= notice %></p>

<h1 class="mid">Groups</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
         <td><h4><%= link_to group.name, group_path(group) %></h4></td>

       </tr>
    <% end %>
  </tbody>
</table>

<br>

<button><%= link_to 'New Group', new_group_path() %></button>

    </div>
  </div>
</div>

