<div class="container">
	<div class ="row">
		<div class="four columns reg">
			<h1 class="mid">Story of <i>SongClub</i></h1>
				<p class= "about">  I used to frequent a bar in Brooklyn called the <i>Fawkner</i>. On Wednesday night's they had a live music in the back in a cozy sitting room with a fire place. The musicians who play are just a collection of people who like to play music. Not necessarily professionals. I like to play, and occasionally write my own music and was wondering how I may be able to participate. I asked the host of the event, a lively Irish fellow, and he told me that I just need to send him a link to my music, and if it was decent he would put me on the performer list. As a student on New York City Code and Design at the time, I decided to build an app for the music group as my final project. 

			<h1 class="mid">App Features</h1>
				<p class= "about">
				The App allows anyone to create a group, and set concert times and locations. Anyone can then sign up and request to join the concert as a performer and supply a link to their music. The group administrator can accept applicants and add them to the concert lineup or politely decline. There are plenty of more features I would love to add, like the ability for participants to upload pictures and videos of concerts and make it a little bit more simple on the UX. Otherwise, Enjoy!<p>
			


		</div>
	</div>

</div>
  
