<div class="container">
  <div class="row">
    <div class="four columns main">
<h2 class="mid">Editing Concert</h2>

<%= render 'form', concert: @concert %>

<%= link_to 'Show', group_concert_path %> |
<%= link_to 'Back', group_concerts_path %>

		</div>
	</div>
</div>
